#report {
    font: 8pt Helvetica, Arial, Verdana, serif;
}
#report .page-header .title         { font-size: 13pt; }
#report .page-header .date-received { font-size:8pt; padding-left:10mm; }
#report .page-header .lab-logo { text-align:right; }
#report .section .title { font-size:10pt;font-weight:bold;width:100%;border-bottom:1px solid #5495b4;color:#5495b4;}
#report .section.summary table tr td { width:28%; }
#report .section.summary table tr td.label { width:20%; }
#report .section.summary table tr td.cell-spacing { width: 4%;}
#report .section.section-category-results .title-category { font-weight:bold;border-bottom:1px solid #333;}
#report .section.section-category-results .title-analyses { font-size:10pt;}
#report .section.section-category-results td.analysis-graphrange { width:150px;}
#report .section-category-results table tr td { border-bottom: 1px solid #ccc; }
#report .section.section-attachments ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
#report .section.section-attachments ul li ul {
    list-style-type: none;
    margin: 0;
    padding: 0 0 0 5mm;
}
#report .section-category-results .end-of-results {
    text-align:center;
    border-top:1px solid #333;
}
#report .section-signatures .signature-missing {
    height:25mm;
}
#report .small { font-size:7pt;}
#report .smallest { font-size:6pt;}
#report .green { color:#5495b4;}

#report h1           { font-size:16pt; }
#report h2           { font-size:14pt; }
#report h3           { font-size:1.1em; }
#report .bigger      { font-size:9pt; }
#report .big         { font-size:11pt; }
#report .biggest     { font-size:14pt; }
#report a            { text-decoration:none; color:#000; }
#report a.attachment { color:blue;text-decoration:underline;}
#report table        { width:100%;
                       border-spacing: 0;
                       border-collapse: collapse;}
#report table td,
#report table th     { padding:0px}
#report .nomargin    { margin:0; }
#report .nopadding   { padding:0; }
#report .back-green  { background-color:#5495b4; }
#report .back-grey   { background-color:#8a8d8f; }
#report .grey        { color:#8a8d8f; }
#report .dark-grey   { color:#666666; }
#report .uppercase   { text-transform: uppercase; }
#report .bold        { font-weight:bold; }
#report .todo        { color:#d40000; background-color:yellow;}
#report .left        { float:left; width:50%; }
#report .right       { float:right; width:50%; }
#report .cell        { padding:1mm 2mm;margin:0 3mm;}
#report .cell-left   { padding:1mm 2mm;margin:0mm 3mm 0 0; }
#report .cell-right  { padding:1mm 2mm;margin:0mm 0mm 0mm 3mm; }
#report .cell-block  { padding:1mm 2mm;margin:0mm; }
#report .align-right { text-align:right; }
#report .align-left  { text-align:left; }
#report .align-center{ text-align:center; }
#report .label       { font-weight:bold;}
#report .back-green.cell,
#report .back-green.cell-left,
#report .back-green.cell-right,
#report .back-green.cell-block,
#report .back-grey.cell,
#report .back-grey.cell-left,
#report .back-grey.cell-right,
#report .back-grey.cell-block { margin-bottom: 1mm; margin-top: 1mm;}
/*#report div.section { padding:0 0 5mm 0;}*/
#report div.separator { height:5mm; }
#report div.small-separator { height:2mm; }

/* Section results */
#report div.section-results table th {
    background-color:#d9d9d9;
    text-transform:uppercase;
    font-weight:normal;
    white-space:nowrap;
}
#report .section-results table td,
#report .section-results table th {
    border: 1px solid #cdcdcd;
    margin: 0;
    padding: 1mm;
    text-align: center;
}
#report .section-results table td.analysis_keyword,
#report .section-results table td.analysis_specs {
    white-space:nowrap;
    width:5%;
}
#report .section-results table td.analysis_title,
#report .section-results table tfoot td {
    text-align:left;
}
#report .section-results table tr.outofrange td.analysis_keyword,
#report .section-results table tr.outofrange td.analysis_result {
    background-color:#84dece;
    font-weight:bold;
}

/* Section results discreeter */
#report .section-results-discreeter { padding-top:3mm; }
#report .section-results-discreeter p { margin: 0 0 1mm;}
.warn, .warn a {
    color:red !important;
}